<H1 >Marches of Kethend</H1>
<H2>Points Cost Calculator</H2>

<div id="totalCostIndicator"></div>
<div id="statsContainer">
    <div id="STRbox" class="statBox">
        <p class="statLabel">STR</p>
        <input id = "STRinput" class="statInput" type="number" value="10" min="8" max="18" size="3" onchange="updateCosts()">
        <p id="STRcost"></p>
    </div>
    <div id="DEXbox" class="statBox">
        <p class="statLabel">DEX</p>
        <input id = "DEXinput" class="statInput" type="number" value="10" min="8" max="18" size="3" onchange="updateCosts()">
        <p id="DEXcost"></p>
    </div>
    <div id="CONbox" class="statBox">
        <p class="statLabel">CON</p>
        <input id = "CONinput" class="statInput" type="number" value="10" min="8" max="18" size="3" onchange="updateCosts()">
        <p id="CONcost"></p>
    </div>
    <div id="INTbox" class="statBox">
        <p class="statLabel">INT</p>
        <input id = "INTinput" class="statInput" type="number" value="10" min="8" max="18" size="3" onchange="updateCosts()">
        <p id="INTcost"></p>
    </div>
    <div id="WISbox" class="statBox">
        <p class="statLabel">WIS</p>
        <input id = "WISinput" class="statInput" type="number" value="10" min="8" max="18" size="3" onchange="updateCosts()">
        <p id="WIScost"></p>
    </div>
    <div id="CHAbox" class="statBox">
        <p class="statLabel">CHA</p>
        <input id = "CHAinput" class="statInput" type="number" value="10" min="8" max="18" size="3" onchange="updateCosts()">
        <p id="CHAcost"></p>
    </div>
</div>


<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:6px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:6px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax">Stat<br></th>
        <th class="tg-0lax">Points Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0lax">8</td>
        <td class="tg-0lax">0</td>
      </tr>
      <tr>
        <td class="tg-0lax">9</td>
        <td class="tg-0lax">1</td>
      </tr>
      <tr>
        <td class="tg-0lax">10</td>
        <td class="tg-0lax">2<br></td>
      </tr>
      <tr>
        <td class="tg-0lax">11</td>
        <td class="tg-0lax">3</td>
      </tr>
      <tr>
        <td class="tg-0lax">12</td>
        <td class="tg-0lax">4</td>
      </tr>
      <tr>
        <td class="tg-0lax">13</td>
        <td class="tg-0lax">5</td>
      </tr>
      <tr>
        <td class="tg-0lax">14</td>
        <td class="tg-0lax">6</td>
      </tr>
      <tr>
        <td class="tg-0lax">15</td>
        <td class="tg-0lax">7</td>
      </tr>
      <tr>
        <td class="tg-0lax">16</td>
        <td class="tg-0lax">9</td>
      </tr>
      <tr>
        <td class="tg-0lax">17</td>
        <td class="tg-0lax">12</td>
      </tr>
      <tr>
        <td class="tg-0lax">18</td>
        <td class="tg-0lax">16</td>
      </tr>
    </tbody>
</table>

<p>This Calculator made by Cyan. Version 1.0: Initial release. Glory to the Republic!</p>

<script>
    statsArray = ["STR","DEX","CON","INT","WIS","CHA"]
    pointsCostArray = {8:0,9:1,10:2,11:3,12:4,13:5,14:6,15:7,16:9,17:12,18:16}
    
    startingPoints = 28

    function updateCosts(){
        totalCost = 0
        for(statIndex in statsArray){
            stat = statsArray[statIndex]
            //console.log(stat +" "+statIndex)
            statValue = document.getElementById(stat+"input").value
            pointsCost = pointsCostArray[statValue]

            
            

            console.log(pointsCost)
            if(pointsCost == null){
                //an invalid value
                console.log("Invalid")
                document.getElementById(stat+"cost").classList.add("Invalid")
                document.getElementById(stat+"cost").innerText ="INVALID"
                pointsCost = 999
            }else{
                document.getElementById(stat+"cost").classList.remove("Invalid")
                document.getElementById(stat+"cost").innerText = "Cost = "+pointsCost
            }

            totalCost += pointsCost
        }

        document.getElementById("totalCostIndicator").innerText="Total Cost = " + totalCost +"/" +startingPoints +"pts"
        if(totalCost > startingPoints){
            document.getElementById("totalCostIndicator").classList.add("Invalid")
        }else{
            document.getElementById("totalCostIndicator").classList.remove("Invalid")
        }



    }

    

    updateCosts()
</script>

<style>
    #statsContainer{
        display: flex;
    }

    .statBox{
        padding: 1em
    }

    .statLabel{
        text-align: center;
    }

    #totalCostIndicator{
        padding: 1em;
        font-weight: bold;
        font-size: large;
    }

    .invalid{
        color:red;
        font-weight: bold;
    }
</style>